In [1]:
name=input("Enter the name:")
rollno=int(input("Enter the rollnumber:"))
mark=int(input("Enter the mark"))
print("name:",name)
print("Roll number:",rollno)
print("Mark:",mark)

Enter the name:aparna
Enter the rollnumber:25
Enter the mark97
name: aparna
Roll number: 25
Mark: 97

# Answer 2

In [4]:
Fahrenheit=float(input("Enter fahrenheit:")) 
Celsius = ((Fahrenheit-32)*5)/9  
print("Temperature in Celsius : ");  
print(Celsius);

Enter fahrenheit:41
Temperature in Celsius is:
5.0

# answer 3

In [5]:
num1=int(input("Enter the number1:"))
num2=int(input("Enter the number2:"))
product=num1*num2
print("product of 2 numbers:",product)

Enter the number1:45
Enter the number2:23
product of 2 numbers: 1035

# answer 5

In [6]:
radius=float(input("Enter the radius:"))
area=3.14*radius*radius
print("area of circle:",area)

Enter the radius:5
area of circle: 78.5

# answer 6

In [12]:
lst = ["apple", "mango",  "orange"]
print("List =",lst)
Item = input("enter the item:")
index = 2
lst.insert(index,Item)
print("after the list= ",lst)

List = ['apple', 'mango', 'orange']
enter the item:kiwi
after the list=  ['apple', 'mango', 'kiwi', 'orange']

# answer 7

In [16]:
sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}
sample_dict['location'] = sample_dict.pop('city')
print(sample_dict)

{'name': 'John', 'age': 5, 'salary': 8000, 'location': 'New York'}

# answer 10

In [22]:
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)
count = tuple1.count(50)

print(count)

3

# answer 9

In [25]:
tuple1 = (10, 20, 43, 54, 56, 68)
tuple2=tuple1[2:4]
print(tuple2)

(43, 54)

# answer 8

In [26]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 6500}
}

sample_dict['emp3']['salary'] = 8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}